## Sprocket Analysis

In [4]:
# imports 

import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [6]:
%%capture
# currrent working directory
cwd = os.getcwd()
df_addr = pd.read_excel(cwd+"/KPMG_sprocket.xlsx",'CustomerAddress', header=1)

In [7]:
df_addr

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9
...,...,...,...,...,...,...
3994,3999,1482 Hauk Trail,3064,VIC,Australia,3
3995,4000,57042 Village Green Point,4511,QLD,Australia,6
3996,4001,87 Crescent Oaks Alley,2756,NSW,Australia,10
3997,4002,8194 Lien Street,4032,QLD,Australia,7
3998,4003,320 Acker Drive,2251,NSW,Australia,7

In [9]:
df_addr.customer_id.value_counts()

1       1
2676    1
2663    1
2664    1
2665    1
       ..
1343    1
1344    1
1345    1
1346    1
4003    1
Name: customer_id, Length: 3999, dtype: int64

In [10]:
df_addr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [11]:
df_addr.describe()

       customer_id     postcode  property_valuation
count  3999.000000  3999.000000         3999.000000
mean   2003.987997  2985.755939            7.514379
std    1154.576912   844.878364            2.824663
min       1.000000  2000.000000            1.000000
25%    1004.500000  2200.000000            6.000000
50%    2004.000000  2768.000000            8.000000
75%    3003.500000  3750.000000           10.000000
max    4003.000000  4883.000000           12.000000

In [13]:
df_addr.postcode

0       2016
1       2153
2       4211
3       2448
4       3216
        ...
3994    3064
3995    4511
3996    2756
3997    4032
3998    2251
Name: postcode, Length: 3999, dtype: int64

In [14]:
df_addr.state.value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

In [15]:
df_addr.country.value_counts()

Australia    3999
Name: country, dtype: int64

In [17]:
df_addr.property_valuation.value_counts().sort_index()

1     154
2     143
3     186
4     214
5     225
6     238
7     493
8     646
9     647
10    577
11    281
12    195
Name: property_valuation, dtype: int64

In [19]:
df_addr.duplicated().value_counts()

False    3999
dtype: int64